// $primary-color: #4285F4;
// $primary-color-dark: #0d47a1;

$background-color: white;
$default-color: #5f93a0;
$warning-color: #ffc793;
$danger-color: #d87d72;
$primary-color: #0d1414;
$secondary-color: #e6f6f7;
$dark-gray: #9ea2a3;
$light-gray: #e5eaea;
