// $primary-color: #4285F4;
// $primary-color-dark: #0d47a1;

$default-color: #6c7ac9;
$warning-color: #f9d181;
$danger-color: #c4525b;
$success-color: #63b76b;
$info-color: #396aa3;
$primary-color: #60b7ba;
$secondary-color: #efbaed;
$dark-gray: #9ea2a3;
$light-gray: #e5eaea;
