@import "./variables";

#LoginScreen {
	paper: {
		margin-top: 0;
		display: "flex";
		flexdirection: "column";
		alignitems: "center";
	}
	avatar: {
		margin: 0;
	}
	form: {
		width: "100%";
		margintop: 0;
	}
}
