@import "./variables";
#feed-screen {
  #feedPageOuterContainer {
    display: flex;
    width: 100vw;
    height: 100vh;
    flex-direction: column;
  }

  #entireDropDownContainer {
    margin-top: 25px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  #filteringByText {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 5px;
  }

  #feedScreenProductListContainer {
    display: flex;
    flex-direction: column;
    margin: auto;
    overflow-y: scroll;
    height: 60vh;
  }

  .testButton {
    width: 100%;
    margin: auto;
    cursor: pointer;
  }

  #feedScreenListItem {
    text-align: left;
    justify-content: left;
  }
}
