@import "../scss/mdb.scss";
@import "./variables.scss";

#itemDetailScreen {
  font-family: Arial;

  #itemDetailScreen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #fff;
  }

  .itemTitleContainer {
    display: flex;
    justify-content: left;
    font-weight: bold;
    font-size: 2em;
    background-color: $default-color;
    color: #fff;
    padding: 15px;
  }

  .itemTitle {
    font-weight: bold;
    // text-shadow: 5px 5px 2px 2px $primary-color;
  }

  .itemDetailImageContainer,
  .itemImageCarouselContainer,
  .itemInfoContainer {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 30px 0;
  }

  .itemInfoContainer {
    margin: 0;
  }

  .itemValueContainer {
    display: flex;
    justify-content: center;
    margin-top: 15px;
  }

  .itemInfo {
    flex-direction: column;
    justify-content: left;
    padding: 0px 15px;
    width: 85%;
  }

  .carouselContainer {
    display: flex;
    justify-content: center;
  }

  .imageCarousel {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 0;
    height: 30vh;
  }

  .carouselItem {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .carousel-item.active.carousel-slide-item {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
  }

  .imageWindow {
    display: flex;
    justify-content: space-between;
    align-content: center;
    // border: 2px solid $primary-color;
    box-shadow: 5px 5px 5px 5px #9ea2a3;
    // background-color: $secondary-color;
    width: 85%;
    // padding: 50px 0;
  }

  .itemImageCarouselContainer.condensed {
    margin: 0;
  }

  .itemImageCarousel.condensed {
    border: none;
    padding: 0;
    box-shadow: none;
    background-color: #fff;
  }

  .mainImage {
    display: inline-block;
    // box-shadow: 5px 5px 5px 5px #9ea2a3;
    width: 100%;
  }

  .thumbnail {
    // box-shadow: 2px 2px 2px 2px #9ea2a3;
  }

  .makeOffer {
    background-color: $primary-color;
    color: #fff;
    cursor: pointer;
  }

  .thumbnail.selected {
    border: 3px solid $secondary-color;
  }

  .descriptionElement {
    margin-bottom: 15px;
  }

  .makeOfferButtonContainer {
    display: flex;
    justify-content: center;
    margin: 20px 0;
  }

  .itemOfferCountContainer {
    margin-left: 15px;
  }

  .itemPostedDateContainer p,
  itemPostedDateContainer > span {
    display: inline-block;
    color: $dark-gray;
    font-size: 1rem;
  }

  .carousel-fade .carousel-item {
    display: flex !important;
  }

  h4.itemDetailBold {
    font-family: Arial, sans-serif;
    font-weight: 700;
  }
}
