@import "./variables";

#message-screen {
  #message-string {
    border-top: 1px solid gray;
    cursor: pointer;
    #closeButton {
      font-size: 0.75em;
      height: fit-content;
    }
    #replyButton {
      font-size: 0.75em;
      height: fit-content;
    }
    .Ripple-parent {
      overflow: visible;
    }
  }
  #topPartOfMessage {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}
