@import "./variables";

#message-screen {
  #unopenedMessage {
    width: auto;
    height: 100px;
    margin: auto;
    overflow-y: scroll;
    border-top: 1px solid gray;
    cursor: pointer;
    #message-string {
      overflow-y: scroll;
      border-top: 1px solid gray;
      cursor: pointer;
      #closeButton {
        font-size: 0.75em;
        height: fit-content;
      }
    }
    #replyButton {
      font-size: 0.75em;
      height: fit-content;
    }
    #reply-component {
      #sendReplyButton {
        font-size: 0.75em;
        height: fit-content;
        width: 100%;
      }
    }
    .Ripple-parent {
      overflow: visible;
    }
  }
}
