@import '../scss/mdb.scss';

.main-color {
  color: $secondary_color;
  background-color: $default_color;
}

#nav-bar {
  color: $secondary-color;
  background-color: $default_color;
  height: 6rem;
  padding: 0.5rem 1rem;
  .title {
    font-size: 2rem;
    font-weight: bold;
  }
  .back-button {
    font-size: 2rem;
  }
}
