@import '../scss/mdb.scss';

.main-color {
  color: $secondary_color;
  background-color: $default_color;
}

#nav-bar {
  position: fixed;
  z-index: 1000;
  color: $secondary-color;
  background-color: $default_color;
  height: 6rem;
  width: 100vw;
  bottom: 0;
  left: 0;
  .title {
    font-size: 2rem;
    font-weight: bold;
  }
  .back-button {
    font-size: 2rem;
  }
}
