@import "../scss/mdb.scss";

#nav-drawer {
  position: fixed !important;
  z-index: 990 !important;
  bottom: 0rem !important;
  width: 100% !important;
  max-width: 1200px !important;
  height: auto !important;
  align-self: center !important;
  padding: 1rem 0 7rem 0;
  transition: transform 0.25s ease-in-out;
  transform: translateY(27rem);
  &.open-true {
    transform: translateY(0rem);
  }
}

#nav-bar {
  position: fixed !important;
  z-index: 1000 !important;
  width: 100% !important;
  max-width: 1200px !important;
  bottom: 0rem !important;
  height: 7rem !important;
  align-self: center !important;

  .logo-link {
    display: flex;
    justify-content: center;
    .nav-logo {
      width: auto;
      height: 5rem;
      transform: translateY(0.5rem);
      max-height: 5rem !important;
    }
  }
}

#nav-modal {
  color: none;
  background: none;
  position: fixed !important;
  z-index: 980 !important;
  width: 100vw !important;
  height: 100vh !important;
  left: 0 !important;
  top: 0 !important;
  padding: 1rem 0 7.5rem 0;
  &.open-false {
    display: none;
  }
}
