#past-offers {
	.past-offerer {
		display: flex;
		justify-content: space-between;
	}
	.past-offeree {
		display: flex;
		justify-content: space-between;
	}
	.offer-info-item {
		display: flex;
		flex-direction: row;
	}
	.labels {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}
	.offer-info-label {
		display: flex;
		flex-direction: row;
	}
}
