#feedPageOuterContainer {
  display: flex;
  width: 100vw;
  height: 100vh;
  flex-direction: column;
}

#entireDropDownContainer {
  margin-top: 5px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#filteringByText {
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 5px;
}

#feedPageProducrtListContainer {
  display: flex;
  flex-direction: column;
  margin: auto;
  text-align: center;
}

.testButton {
  width: 100%;
  margin: auto;
}
