#postItemScreen {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;

    h1 {
        margin: 15px auto;
    }

    p {
        font-family: "Open Sans", Arial, sans-serif;
        color: #757575;
        font-size: 1.25rem;
        align-self: flex-start;
        margin-top: 10px;
    }


    .imageInput {
        height: 30px;
    }

    .postItemForm {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0;
        padding: 0 5px;
    }

    .form-lg {
        // padding: 5px 0;
        width: 100%;
    }
}